.what-i-do {
	padding-top: 95px;
	padding-bottom: 50px;
}

@media screen and (max-width: 600px) {
	.what-i-do {
		padding-top: 5px;
		padding-bottom: 0px;
	}
	.skill-row {
		margin: 50px;
	}
	.des-p {
		margin-bottom: 0px;
	}
	.do-h2 {
		margin-bottom: 0px;
		padding-bottom: 0;
	}
	.des-h3 {
		margin-top: 0;
	}
}
